UPSTASH_REDIS_REST_URL="https://<YOUR_UPSTASH_URL>.upstash.io"
UPSTASH_REDIS_REST_TOKEN="<YOUR_UPSTASH_REST_TOKEN>"
UPSTASH_QSTASH_TOKEN="<YOUR_UPSTASH_QSTASH_TOKEN>"
QSTASH_QUEUE="<YOUR_QSTASH_QUEUE_NAME>"
QSTASH_CURRENT_SIGNING_KEY="<YOUR_QSTASH_CURRENT_SIGNING_KEY>"
QSTASH_NEXT_SIGNING_KEY="<YOUR_QSTASH_NEXT_SIGNING_KEY>"
RPC_CHAIN_ID="<YOUR_CHAIN_ID>"
RPC_CHAIN_NAME="<YOUR_RPC_CHAIN_NAME>"
RPC_URL="<YOUR_RPC_URL>"
RPC_TOKEN_SYMBOL="<YOUR_RPC_TOKEN_SYMBOL>"
RPC_TOKEN_DECIMALS="<YOUR_RPC_TOKEN_DECIMALS>"
RPC_BLOCKEXPLORER_URL="<YOUR_RPC_BLOCKEXPLORER_URL>"
WALLET_PRIVATE_KEY="<YOUR_FAUCET_WALLET_PRIVATE_KEY>"